@model FinTrackPro.Models.Account

<div class="container mt-5">

    <div class="card shadow p-4">
        <h3 class="mb-3">✏ Edit Account</h3>

        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id" />

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="AccountName"></label>
                <input asp-for="AccountName" class="form-control" />
                <span asp-validation-for="AccountName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Balance"></label>
                <input asp-for="Balance" class="form-control" />
            </div>

            <button class="btn btn-primary">Update</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>

        </form>
    </div>

</div>