<div class="container mt-4">

    <div class="card shadow p-4 text-center">
        <h3>📊 Market Analysis</h3>

        <h4 class="mt-3">@ViewBag.Ticker</h4>

        <p>Analyzing last <b>@ViewBag.Days</b> days</p>
    </div>

</div>