<div class="container mt-4">

    <div class="alert alert-info shadow">
        📡 Market Status: <b>@ViewBag.Status</b>
    </div>

    <div class="card shadow p-4">
        <h4 class="mb-3">📈 Top Gainer</h4>
        <h2 class="text-success">@ViewData["TopGainer"]</h2>

        <p class="mt-3">
            Volume: <b>@ViewData["Volume"]</b>
        </p>
    </div>

</div>