@model FintechPro.Models.Asset

<h2>Asset Details</h2>

<div class="card" style="width:18rem;">
    <div class="card-body">

        <h4>@Model.Name</h4>

        <p><b>ID:</b> @Model.Id</p>

        <p><b>Value:</b> @Model.Value</p>

        <a asp-action="Index" class="btn btn-primary">Back to Portfolio </a>

    </div>
</div>