<h2>Market Analysis</h2>

<div class="alert alert-info">

    <p><b>Ticker:</b> @ViewBag.Ticker</p>

    <p><b>Days:</b> @ViewBag.Days</p>

</div>

<a asp-controller="Market" asp-action="Summary" class="btn btn-primary">
    Back to Market Summary
</a>

