
<div class="alert alert-info">
    Market Status: @ViewBag.MarketStatus
</div>

<div class="card" style="width:18rem;">
    <div class="card-body">
        <h5 class="card-title">Top Gainer</h5>
        <p>@ViewData["TopGainer"]</p>
        <p>Volume: @ViewData["Volume"]</p>
    </div>
</div>